.AllianceIcon {
    width: 36px;
    height: 36px;
}

.AbilityCard {
    background: #183640;
    padding: 8px;
    margin-top: 8px;
}

.AbilityImage img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}