.HeroCard {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    width: 300px;
    margin: 8px;
    border-radius: 8px; 
    color: white;
    overflow: hidden;
    border: 1px solid #4a7b35;
}

.CardCap {
    margin-bottom: .5rem;
    position: relative;
}

.CardCap>img {
    width: 100%;
}

.CardCapContent {
    position: absolute;
    bottom: 2px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
}

.CardCapContentContainer {
    padding: 1rem;
}
/* .HeroCardContainer {
    padding: 1rem;
} */

.CardBody {
    padding: 0 1rem 1rem;
}

.AllianceIcon {
    width: 36px;
    height: 36px;
}

.AbilityCard {
    background: #007ba2;
    padding: 8px;
    margin-top: 8px;
}

.AbilityBackground {
    background: gray;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}