.Subtitle {
    font-size: 14px;
    width: fit-content;
}

.Midtitle {
    text-transform: uppercase;
    font-size: 16px;
    color: green;
    letter-spacing: 1px;
    margin: 5px 0 5px 0;
}

.DescriptionText {
    font-size: 13px;
    color: lightgray;
}

.LoreText {
    color: gray;
    font-size: 11px;
    line-height: 1.5em;
}

.Blue {
    color: #5d5dff;
}

.Title {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
}

.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: calc(25% - 18px);
    max-width: 300px;
    min-width: 278px;
    margin: 8px;
    border-radius: 8px; 
    color: white;
    overflow: hidden;
    background-color: #2c3e44;
}

.CardCap {
    margin-bottom: .5rem;
    position: relative;
}

.CardCap>img {
    width: 100%;
}

.CardCapSmallImage {
    margin-bottom: .25rem;
    padding: .5rem .5rem 0rem 1rem;
}

.CardCapSmallImage>img {
    height: 50px;
    width: 50px;
    padding-right: 10px;
    vertical-align: middle;
}

.CardCapSmallImage>h1,
.CardCapSmallImage>h2,
.CardCapSmallImage>h3 {
    display: inline-block;
    vertical-align: middle;
    width: calc((100%) - (80px));
}

.CardCapContent {
    position: absolute;
    bottom: 2px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
}

.CardCapContentContainer {
    padding: 1rem;
}

.CardBody {
    padding: 0 1rem 1rem;
}

.ImageInRow {
    margin: 3px 3px 0 0;
    display: inline-block;
}

.ImageInRow>img {
    height: 60px;
    width: 60px;
}

.DescriptionCard {
    background: #183640;
    padding: 8px;
    margin-top: 8px;
}

.Button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", Ubuntu, Cantarell, "Fira Sans", Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    height: 38px;
    line-height: 38px;
    min-width: 88px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(102, 187, 255);
    text-align: center;
}

.Button>div {
    padding: 0 10px;
}

button.ActiveButton {
    background-color: #66BB6A;
}

.InlineImageContainer>img,
.InlineImageContainer>svg {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.PageContainer {
    padding: 0 10px;
}

.PageSectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Include [data-id="tooltip"] to increase the specificity of selectors so these override defaults */
[data-id="tooltip"].Tooltip {
    opacity: 1 !important;
    background-color: transparent !important;
    zoom: .9;
}

[data-id="tooltip"].Tooltip>div {
    margin: 0 auto !important;
}

.HighlightStat {
    background-color: #585802;
    font-weight: bold;
}