.teamBuilderPageContainer {
    display: flex;
    margin-bottom: 50px;
    max-width: 1000px;
    margin-top: 40px;
}

.heroesSelectionArea {
    display: flex;
    flex-basis: 306px;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 0%;
    padding: 0px 3px 3px 3px;
}

.title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.heroImageSelectionArea {
    height: 50px;
    width: 50px;
    margin: 3px;
    cursor: pointer;
}

.heroImageSelectionArea:hover {
    opacity: 0.3;
}

.searchInputContainer {
    flex-basis: 100%;
    margin: 0px 0px 12px 4px;
}

.searchInput {
    display: inline-block;
    padding: 4px 6px 6px 6px;
    border: 1px solid rgba(15, 170, 226, 0.46);
}

input[type="text"], textarea {
    border: none;
    outline: none;
    color: white;
    caret-color: white;
    background-color : transparent;
  }

.searchIcon {
    font-size: 25px;
    line-height: 0px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.63);
}

.teamArea {
    flex-basis: 664px;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    padding-left: 30px;
    margin-left: 30px;
}

.selectedHeroesArea {
    display: flex;  
    flex-wrap: wrap;
}

.heroImageTeamAreaContainer {
    width: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}

.heroImageTeamArea:hover {
    border: 1px solid white;
}

.heroImageTeamArea {
    height: 80px;
    width: 80px;
    margin: 3px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.heroName {
    text-align: center;
    line-height: 15px;
}

.allianceImg {
    height: 28px;
    width: 28px;
    margin-right: 6px;
}

.synergyText {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.synergiesContainer {
    display: flex;
    flex-wrap: wrap; 
}

.activeAllianceContainerOuter {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.activeAllianceContainer {
    display: inline-flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: fit-content;
}

.allianceImgContainer {
    width: 50px;
    height: 50px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
}

.activeAllianceContainer img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    vertical-align: bottom;
    border-radius: 10%;
}

.allianceTiersContainer {
    display: inline-flex;
}


.allianceTier {
    display:  inline-flex;
    flex-direction: column;
    height: 100%;
    width: 20px;
    justify-content: space-around;
}

.tierCount {
  width: 20px;
  height : 20px;
  background: blue;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.29);
  flex-grow: 1;
}

.tierCount.activeCount {
    width: 20px;
    height : 20px;
    background: radial-gradient(ellipse at 50% 40%, rgba(242, 242, 242, 0.62) 0%, rgba(237, 237, 237, 0.2) 100%)
  }

.synergyDescription {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
}

.allianceFilterContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 12px 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 12px;
    flex-basis: 100%;
}

.allianceFilterImg {
    height: 24px;
    width: 24px;
    margin-left: 1px;
    box-sizing: border-box;
    cursor: pointer;
}

.allianceFilterImgActive {
    border: 1px solid pink;
}

.heroAllianceIconContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 13px;
    top: 8px;
}

.heroAllianceIcon {
    height: 21px;
    width: 21px;
}

@media (max-width: 830px) {
    .teamBuilderPageContainer {
        flex-wrap: wrap;
    }
    .teamBuilderPageContainer {
        flex-wrap: wrap;
    }
    .teamArea { 
        margin-left: 0px;
        padding-left:0px;
        flex-grow: 2;
        border: none;
    }
    .heroesSelectionArea {
        flex-grow: 2;
    }
    .allianceFilterImg {
        height: 35px;
        width: 35px;
    }
}